* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #FFF900;
  margin-top: 0;
  padding: 0;
}
.header {
  background-color: #FFFFFF;
  height: 70px;
  margin-top: 0;
  padding: 0;
}
.footer {
  background-color: #FFFFFF;
  height: 32px;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
}
.center {
  text-align: center;
  background-color: #F0F0F0;
  padding: 1em;
}
