* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #FFFFFF;
  margin-top: 0;
  padding: 0;
  width: 100%;
  height: 2000px;
}
.header {
  position: fixed;
  background-color: #FFFFFF;
  width: 100%;
  height: 66px;
  margin-top: 0;
  padding: 0;
  display:flex;
}
.footer {
  background-color: #FFFFFF;
  height: 24px;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
}
.left {
  top: 66px;
  background-color: #F0F0F0;
  text-align: center;
  width: 25%;
  height: 2000px;
}
.center {
  top: 66px;
  text-align: center;
  background-color: #FFFF00;
  width: 50%;
  height: 2000px;
}
.right {
  top: 66px;
  text-align: left;
  background-color: #000000;
  color: #FF0000;
  width: 25%;
  height: 2000px;
}
